body{
    background-color: black;
    position: relative;
    color: white;
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family:'Courier New', Courier, monospace;
}

header{
    background-color: black;
    margin-top: 5px;
    width: 100%;
    height: 150%;
    background-size: cover;
    position: relative;
    text-align: center;
    font-size: 16px;
    font-family:'Courier New', Courier, monospace;
}

nav{
    display: flex;
    background-color:#1A488e;
    height: 30px;
    justify-content: space-between;
    
    
}
main{
    background-image: url(Imagens/background.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    width: 100%;
    font-family:'Courier New', Courier, monospace;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    align-items: center;
}
.naveg{
    display: flex;
    width: 100%;
    margin-top: 10px; 
    justify-content: center;
    
}
.naveg ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center; 
    
}
.naveg li{
    margin: 0; 
    padding-right: 15px; 
    padding-left: 15px;
    
    
}
section {
    position: relative;
    width: 100%;
}

.video {
    display: flex;
    background-color:#1a488e7c;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 50%;
    height: 390px;
    margin-top: 3%;
    margin-left: 25%;
    margin-right: 25%;
}
#home{
    background-color: rgba(0, 0, 0, 0.627);
    color: white;
}
#home title{
    display: flex;
    font-size: 25px;
    margin:0;
    padding-top: 1% ;
    margin-left: 5%;
    margin-top: 5%;
}
#home text{
    display: flex;
    margin-left: 2%;
    margin: 0;
    padding: 0;
    text-align: justify;
    margin-top: 1%;
    margin-left: 6%;
    margin-right: 6%;
}

#problemas{
    display: flex;
    background-color: #1a488e7c;
    color: white;
    justify-content: center;
    text-align: justify;
    align-items: center;
    width: 50%;
    height: 270px;
    margin-top: 6%;
    margin-left: 25%;
    margin-right: 25%;
}
#problemas >text{
    width: 90%;
}
#problemas1{
    display: flex;
    background-color:#1a488e7c;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 50%;
    height: 360px;
    margin-top: 6%;
    margin-left: 25%;
    margin-right: 25%;
}
#demonstracao{
    display: flex;
    background-color:#1a488e7c;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 50%;
    height: 400px;
    margin-top: 6%;
    margin-left: 25%;
    margin-right: 25%;
}
#botão{
    align-items: center;
    justify-self: center;
    margin-left: 25%;
}
#demonstracao1{
    display: flex;
    background-color:#1a488e7c;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 50%;
    height: 400px;
    margin-top: 6%;
    margin-left: 25%;
    margin-right: 25%;

}

#contato{
    display: flex;
    background-color: #1a488e7c;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 50%;
    height: 270px;
    margin-top: 6%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 15px;
    
}

.form-control{
    margin: 20px;
}
.form-control input[type="text"]{
    font-family:'Courier New', Courier, monospace;
    width: 100%;
    font-size: 25px;
    padding: 10px;
    outline:0; 
}
button{
    font-family:'Courier New', Courier, monospace;
    margin-bottom: 20px;
    width: 50%;
    height: 40%;
    font-size: 30px;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 15px;
    
    
}
.erro{
    text-align: left;
    margin-left: 32px;
    color: white;
    font-size: 20px;
}
.popup-wraper{
    position: fixed;
    top: 11%;
    width: 30%;
    height: 10%;
    color: black;
    border-radius: 15px;
    background-color: #d14674c0;
    color: white;
}
.popup-close{
    position: absolute;
    top: 5px;
    right:10px;
    cursor:pointer;
}
.d-none{
    display: none;
}
.d-block{
    display: block;
}
#integrantes{
    background-color: rgba(0, 0, 0, 0.627); 
    width: 100%; 
    
}
.tabela{
    text-align: center;
    align-items: center;
    margin-left: 3%;
}
table{
    align-items: center;
    text-align: center;
    border: 1px solid white;
    width: 50% !important;margin: auto;
}
td, th {
    padding: .7em;
    margin: 0;
    border: 1px solid white;
    text-align: center;
}
tr{

    justify-content: center;
    align-items: center;
    text-align: center;
}
td{
    height: 70px;
    align-items: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
}
td >foto{
    width: 20px;
    height: 20px;
}
footer{
    font-family:'Courier New', Courier, monospace;
    position: relative;
    width: 100%;
    height: 10px;
    color: white;
    font-size: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    padding: 5px;
}  
